section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table,tr,th,td {
    padding: 15px 45px;
    font-size: 20px;
    border: 1px solid black;
    border-collapse: collapse;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: blue;
}

.btn {
    padding: 8px 24px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    margin: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    transform: scale(0.8);
}

.add {
    display: inline-block;
    margin-top: 50px;
    padding: 15px 45px;
    background-color: #4caf50;
}

.update {
    background-color: rgb(42, 17, 136);
}

.delete {
    background-color: #DF2E38;
}