body {
    font-family: 'Arial', sans-serif;
    background-image: url(../images/bg5.jpg);
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    background-color: rgba(255, 255, 255, 0.374);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 22vw;
}

h2 {
    text-align: center;
    color: #fff;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.error {
    color: #ff0000;
    font-size: 14px;
}

.submit-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #45a049;
}

.toggle-button {
    background: none;
    border: none;
    color: #0566c6;
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
form {
    width: 70vw;
}
}
@media screen and (max-width: 900px) {
form {
    width: 60vw;
}
}
@media screen and (max-width: 1200px) {
form {
    width: 50vw;
}
}